@import '../GlobalVars'

.ContenedorCajaMensajes 
    width: 100%
    height: 100%    
    position: relative
    background-color: $P_SoftGray
    // background-image: url("../imagenes/Fondo.png")
    background-repeat: repeat        
    overflow-y: scroll                        
    padding: 20px     
    @media screen and (max-width: 800px)
        padding: 20px 5px
    &::-webkit-scrollbar 
        width: 5px
    &::-webkit-scrollbar-thumb
        background-color: $gray-500
        opacity: 0.9
    &.intro
        background-color: #f8f9fa
        background-image: none
        display: flex
        justify-content: center
        align-items: center            
        .Selecciona
            display: block
    .Selecciona                             
        display: none
        text-align: center            
        color: $P_DarkGreen

        img
            // height: 100%
            width: 100% 
