

$blue:    #007bff  // primary
$blue_h:  rgba(0, 123, 255, 0.8)
$blue_t:  rgba(0, 123, 255, 0.2)
$indigo:  #6610f2
$purple:  #6f42c1
$pink:    #e83e8c
$red:     #dc3545  // danger
$red_h:   rgba(220, 53, 69, 0.8) // danger
$red_t:   rgba(220, 53, 69, 0.2)
$orange:  #fd7e14
$yellow:  #ffc107  // warning
$green:   #28a745  // success
$teal:    #20c997
$cyan:    #17a2b8  // info
$white:    #fff
$gray-100: #f8f9fa  // light
$gray-200: #e9ecef
$gray-300: #dee2e6
$gray-400: #ced4da
$gray-500: #adb5bd
$gray-600: #868e96  // secondary
$gray-700: #495057
$gray-800: #343a40  // dark
$gray-900: #212529
$black:    #000
$White:    #fff

$P_Green: #BDE7E4
$P_ShineGreen: #2E827D
$P_DarkGreen: #627B7A
$P_SoftGray: #F2F2F2
$P_Gray: #5B5B5B
$P_OtherSoftGray: #DADADA

$F_SoftGreen: #BDE7E4
$F_Green: #2E827D
$F_DarkGreen: #627B7A
$F_SoftGray: #F2F2F2
$F_Gray: #5B5B5B


$small: 13px
$regular: 15px
$big: 20px

