@import './GlobalVars'

.ContenedorWelcome  
    z-index: 10
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    transition: 1s
    background-color: $P_Green
    display: flex
    justify-content: center
    align-items: center
    &.esconder
        transform: translateY(-100%)
   
    .Contenido    
        width: 30%                    
        @media screen and (max-width: 800px)
            width: 70%
        h1            
            color: $white
            font-size: 60px
            margin-bottom: 0px
        p
            font-size: 20px
            margin-bottom: 80px
            color: $white
            text-align: right
       
        .Alerta
            color: $red
            margin-bottom: 10px
    
        input
            background-color: #ffffff00
            border: none
            border-bottom: 1px solid $white
            color: $white
            padding: 5px 10px
            font-size: 20px
            margin-bottom: 80px
            width: 100%
            text-align: center
            outline: none
            &::placeholder
                color: $white
        button
            width: 100%
            background-color: $white
            border-radius: 5px
            border: 1px solid #ffffff00
            outline: none
            font-size: 20px
            padding: 10px
            color: $P_DarkGreen
            cursor: pointer
            transition: .5s
            &:hover
                border: 1px solid $P_DarkGreen





    

